<header class='top-page-header'>
  <div class = "header-wrapper">
    <div class = "header-left">
      <div class = "top-image">
        <p>ぐっち</p>
      </div>
    </div>

      <div class = "header-right">
        <div class = "user-top">
          <% if user_signed_in? %>
            <%= current_user.nickname %>
          <% else %>
            <p class = "user-nickname">ゲスト</p>
          <% end %>
        </div>
      

      <div class = "user-bottom">
        <% if user_signed_in? %>
          <%= link_to "プロフィール", user_path(current_user.id), class:"user-nickname"%>
          <%= link_to "ログアウト", destroy_user_session_path, class:"user-nickname"%>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
        <% end %>
      </div>
    </div>
  </div>
</header>