<%= render "shared/header" %>

<%= link_to '愚痴る', new_post_path, class:"#"%>
  <div class="post-box">
    <% @post.each do |post| %>
      <div class= "post-card">
        <%= link_to post_path(post.id) do %>
          <%= post.user.nickname%>
          <%= post.user.profile.age.age%>
          <%= post.user.profile.profession.profession%>
          <%= post.comment%>
        <% end %>
      </div>
    <% end %>
  </div>
<br>

  <% @eachCategory.each do |posts| %>
    <div class="post-box">
      <% posts.each do |post| %>
        <div class= "post-card">
          <%= link_to post_path(post.id) do %>
            <%= post.user.nickname%>
            <%= post.user.profile.age.age%>
            <%= post.user.profile.profession.profession%>
            <%= post.comment%>
          <% end %>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
