<%= render "shared/header" %>
<div class = main-wrapper>
    <div class = "index-top">
    <div></div>
    <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class = "post-box-search"> 
      <div class = "searched-word">
        <strong class= "search-tag">検索ワード:　</strong>
        <div class ="searched-word">
          <%= params[:keyword]%>
        </div>
      </div>
      <div class="post-box-searched">
          <% @post.each do |post| %>
            <%= render partial: "shared/postcard", locals: { post: post } %>
          <% end %>
        </div>
      <br>
  </div>
</div>
